* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
}

h1 {
    color: #F7901D;
    background: #1c1c1c;
}

h1, h2 {
    text-align: center;
    padding: 0.5rem 0 1rem;
}

h2 {
    padding-top: 2rem;
}

.ds-libraries-container {
    display: flex;
    margin: auto;
    gap: 80px;
    justify-content: center;
    margin-top: 0.5rem;
}

.card {
    max-width: 260px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card h3 {
    padding: 0.5rem 1rem;
    background: #1c1c1c;
    color: #f1f1f1;
}

.lib-module {
    padding: 0 1rem 0.5rem;
    background: #1c1c1c;
    color: #F7901D;
    font-size: 18px;
}

.lib-description {
    flex-grow: 1;
}

.lib-description, .cta {
    padding: 0.5rem 1rem 0.5rem;
}

.cta a {
    text-decoration: none;
    font-size: 20px;
    color: #F7901D;
}

.cta a:hover {
    text-decoration: underline;
}